body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chartContainer {
  max-width: 500px;
  padding: 1rem;
}

.cardContainer {
  max-width: 25%;
  padding: 1rem;
}

.analyticsContainer {
  max-width: 70%;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-component {
  text-align: center;
}

#navbar {
  border-radius: 0;
}

.data-querying {
  display: flex;
  justify-content: space-between;
}

.data-filtering {
  display: flex;
}

.data-filtering div {
  margin-right: 1em;
}

.ui.container {
  width: 80%;
  padding: 1em;
}
